body{
	
	text-align: center;
	font: 100 1em 'Raleway', Helvetica;
	text-shadow: .2em;
	text-transform: uppercase;
    background: linear-gradient(to right, #78f035, #007894);
	
}

.sudoku {
    justify-content: end;  
}

.container {
    
       display: grid;
       justify-content: center;  
       justify-items: center;
       align-items: center;
       place-items: center;
       gap:.1px;
       grid-template-columns: repeat(9,50px);
       grid-template-rows: repeat(9,50px);
   
   }

.square {
    height:50px;
    width:50px;
    outline: 1px solid white;
}

 .bordertop {
    border-top: 4px solid white;
   

 
  }


 .borderbottom {

 
    border-bottom: 4px solid white;
   
 
}
 .borderright{
  
  
    border-right: 4px solid white;
   
  }
 .borderleft {
  
    border-left: 4px solid white;
    
      }

h1, h2, h3, button {
	font-family: "Raleway";
	color: white;
	text-align: center;
	letter-spacing: .3em;
}

button {
	cursor: pointer;
	background: linear-gradient(to right, #78f035, #007894);
	text-shadow: .5em;
	border-radius: 4em;
	font: 800 1.5em 'Raleway', Helvetica;
	font-family: inherit;
   text-transform: uppercase;
   letter-spacing: .2em;
  
}
